.bg {
  height:500px; 
  background-size: cover;
  background-position: center;
}


.slider {
  height:400px; 
  background-image: url('./public/img/slider.png');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.c1 {text-decoration: none; color:#000; text-align: center;}
.c1:hover {color: green;}